* {
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: russo;
  src: url(/fonts/RussoOne/RussoOne-Regular.ttf);
}

@font-face {
  font-family: exo;
  src: url(/fonts/Exo2/Exo2-Regular.ttf);
}

/* Base */
body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  text-align: center;
  font-family: exo, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

button>img {
  width: 40px;
  height: 40px;
}

button {
  border: none;
  cursor: pointer;
}

/* Navbar */
.nav-container {
  background-color: #364f6b;
  color: #ffffff;
  height: 66px;
  grid-area: navbar;
}

.title {
  font-family: russo, sans-serif;
  padding-inline-start: 50px;
  font-size: 1.5rem;
}

.title:hover {
  cursor: pointer;
}

.nav {
  padding-inline-end: 50px;
}

.nav>li {
 padding: 33px;
}

/* Tags*/
.tags-container {
  grid-area: tags;
  background-color: #ffffff;
  height: 132px;
}

.tags-container>input {
  margin-inline-start: 50px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #364f6b;
  font-family: exo, sans-serif;
}

.tags-container>ul:last-child {
  padding-inline-end: 50px;
}

.tags-list>li {
  padding: 25px;
}

.tag-item {
  color: #364f6b;
}

/* Gallery */
.gallery-container {
  grid-area: gallery;
  margin: 20px;
}

.gallery-container>img {
  margin: 10px;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  filter: drop-shadow(3px 1px 1px rgba(54, 79, 107, .3));
}

.gallery-container>img:hover {
  cursor: pointer;
}

/* Generator */
.generator-container>* {
  padding: 20px;
}

.generator>* {
  padding: 20px;
}

.control-board-container>a {
  color: #364f6b;
}

.control-board-container>a:hover {
  text-decoration: underline;
}

.control-board-container>input:first-child {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-family: exo, sans-serif;
  color: #364f6b;
  margin-block-end: 10px;
}

.add-remove-change {
  margin-block-end: 30px;
}

.add-remove-change>* {
  margin: 10px;
}

.font-related>* {
  margin: 10px;
}

.fonts-list-color-container>* {
  margin: 10px;
}

.fonts-list-color-container {
  margin-block-end: 30px;
}

.fonts-list {
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-family: exo, sans-serif;
}

.fonts-list:hover {
  cursor: pointer;
}

.change-color-btn {
  background: url(../icons/paint-board-and-brush.png) left no-repeat;
  padding: 20px;
  background-size: 40px;
  border: none;

}

.change-color-btn:hover {
  cursor: pointer;
}

/* About */
.about-container {
  letter-spacing: 1px;
  padding-block-start: 80px;
  padding-block-end: 170px;
  width: 100%;
  background-color: white;
  color: #364f6b;
}

.about-container>img {
  border-radius: 999px;
  width: 300px;
  height: 300px;
}

.about-content-container {
  width: 400px;
  height: 100%;
  margin-inline-start: 50px;
  margin: auto 40px;
  font-size: 1.3rem;
}

.about-title {
  text-align: start;
  margin: 0;
  padding: 0;
}

.about-content {
  padding: 0;
  margin-block-start: 0.5rem;
  line-height: 1.7rem;
  text-align: start;
}

/* Footer */
footer {
  color: #ffffff;
  background-color: #364f6b;
  height: 200px;
}

footer>* {
  margin: 0;
  padding: 0;
}

.footer-title {
  margin-block-end: 16px;
  font-size: 1.8rem;
  font-family: russo, sans-serif;
}

.crights {
  font-size: 1.2rem;
}

/* Helpers */
.flex {
  display: flex;
}

.justify-start {
  justify-content: start;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-items {
  align-items: center;
}

/* Media Queary */
@media only screen and (max-width: 940px) {
  .generator {
    flex-direction: column;
    align-items: center;
  }

  .canvas-container {
    margin-block-end: 10px;
  }

  .tags-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tags-container>* {
    margin: 0;
  }
  
  .tags-container>input {
    margin-inline-start: 0;
  }

  .tags_list {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 930px) {
  .gallery-container>img {
    width: 100px;
    height: 100px;
  }

  .about-container {
    flex-direction: column;
  }

  .about-container>img {
    margin-block-end: 20px;
  }

  .about-content-container>* {
    text-align: center;
  }
}